# macOS
.DS_Store

# Next
apps/web/node_modules
apps/web/.next

# Spring
apps/api/target
apps/api/build
apps/api/src/main/generated

# 환경변수
.env
.env.*
apps/api/.env
apps/api/.env.*

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/

# Local dev-only Spring config
apps/api/src/main/resources/application-dev.yaml
