# macOS
.DS_Store

# Next
apps/web/node_modules
apps/web/.next

# Spring
apps/api/target
apps/api/build

# 환경변수
.env
.env.*
infra/compose/cloudflared/*.json

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/
